<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/scrypt.js' defer %}"></script>
</head>

<body>
  <div id="url"></div>
  <header class="header">
    {% block header %}
      <div class="header">
        <div class="header__left">
          <h1 class="header__left-label">FakeCSV</h1>
            <a href="/" class="header__left-menu">Schemas</a>
        </div>
        <div class="header__right">
          <p class="header__right-welcome">Welcome, <b> {{user.username}} </b></p>
          <form class="header__right-logout" method="POST">
            {% csrf_token %}
            <input type="hidden" name="user" value="{{user.id}}">
            <button class="header__right-button" type="submit">Logout</button>
          </form>
        </div>
      </div>
    {% endblock %}
  </header>

  <main class="content">
    {% block content %}{% endblock %}
  </main>

  <footer class="footer">
    {% block footer %}{% endblock %}
  </footer>
</body>

</html>