{% extends "base.html" %}

{% block title %} FakeCSV {% endblock %}

{% block content %}
      <p class="content__top-label">Data schemas</p>
      <a class="content__top-buttonnew" href="{% url 'add' %}">New schema</a>
    
  <table class="content_table">
    <tr>
      <th class="content__th-number" >#</th>
      <th class="content__th-title">Title</th>
      <th class="content__th-modified">Modified</th>
      <th class="content__th-action">Actions</th>
    </tr>

    {% for schema in schemas %}
    <tr>
      <td class="content__td-number"> {{ forloop.counter }} </td>
      <td class="content__td-title"> <a class="content__td-titlelink" href="{% url 'check_dataset' schema_id=schema.schema_id %}">{{ schema.schema_name }}</a>  </td>
      <td class="content__td-modified"> {{ schema.schema_last_modified|date:'Y-m-d' }} </td>
      <td class="content__td-action-index">
        <a href="{% url 'edit' id=schema.schema_id %}" class="content_tb-editlink">Edit schema</a>
        <form class="content_index-form" id="id_delete_form_{{schema.schema_id}}" method="POST">
          {% csrf_token %}
          <input name="id" type="hidden" value="{{schema.schema_id}}">
          <a href="#" onclick="submitForm('{{schema.schema_id}}')" class="content__add-link" >Delete</a>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}