td{
    border: solid 1px #ECEEEF;
    text-align: left;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #373A3C;
}

th{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    
    color: #2A2C2E;
    border: 1px solid #ECEEEF;
}


button{
    width: 85px;
    height: 38px;
    background: #0275D8;
    border: 1px solid #0275D8;
    border-radius: 4px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.content{
    background: #FFF;
    margin: 0px 0px 0px 60px;
}

.content__box{
    text-align: center;
    box-sizing: border-box;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 650px;
    height: 445px;
    

    border: solid 1px #E5E5E5;
    border-radius: 4px;
}

.content__label{
    width: 86px;
    height: 79px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 79px;

    color: #373A3C;

    padding: 21px 0px 0px 0px;
    margin: 38px 282px 44px 282px;
}

.content__box-login{
    text-align: center;
}

#id_username, #id_password{
    width: 308px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;

    display: block; 
     
}

#id_username{
    margin: 0px 171px 0px 171px;
}

#id_password{
    margin: 23px 171px 16px 171px;
}

.content__box-button{
    margin: 0px 171px 131px 394px;
}

.content__box-error{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 79px;

    color: #e82c1e;
}

.header,.header__left,.header__right{
    display: flex;
}

.header{
    background: #F7F7F9;
    border-radius: 4px;
}

.header__left{
    float: left;
    color: rgba(0, 0, 0, 0.8);
}

.header__right{
    float: right;
    color: rgba(0, 0, 0, 0.3);
}

.header__left-label{
    width: 142.9px;
    height: 17px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 17px;

    margin: 16px 16.5px 21px 62px;
    
    
}

.header__left-menu{
    text-decoration: none;
    width: 111.02px;
    height: 16px;

    margin: 18px 820px 20px 0px;
}

.header__right-welcome{
    width: 129px;
    height: 16px;

    
    margin: 19px 0px 19px 0px;   
}

.header__right-button{
    width: 58px;
    height: 16px;

    background:  #F7F7F9;
    color: rgba(0, 0, 0, 0.3);
    border: none;

    margin: 19px 86px 19px 11px;
}

.content_top-menu{
    display: flex;
}

.content__top-label{
    width: 238.85px;
    height: 26px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;

    color: #373A3C;
    margin: 28px 600px 0px 0px;
}

.content__top-buttonnew{
    box-sizing: content-box;
    text-decoration: none;
    width: 130px;
    height: 39px;

    background: #5CB85C;
    border: 1px solid #5CB85C;
    border-radius: 4px;

    color: #FFFFFF;
    padding: 8.5px 10px 9.5px 10px;
    margin: 85px 300px 15px 950px;
}

.content_table{
    margin-top: 15px;
    border: 1px solid #ECEEEF;
    padding: 0px;
}

.content__th-title,.content__th-modified,.content__th-action{
    width: 289.51px;
    height: 50px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    color: #2A2C2E;

    padding-left: 17px;
}

.content__td-title,.content__td-modified,.content__td-action{
    width: 289.51px;
    height: 50px;
    
    padding-left: 17px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
    color: #373A3C;    
}

.content__th-number{
    width: 115.81px;
    height: 50px;

    padding-left: 17px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    color: #2A2C2E;
}
.content__td-number{
    padding-left: 17px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
    color: #373A3C;    
}

.content_tb-editlink{
    text-decoration: none;
    margin-top: 15px;
}

.content_tb-editlink{
    color: #0275D8;
}

.content_tb-deletelink{
    color: #D9534F;
    margin-left: 23px;
}

.content__td-titlelink{
    color: #0275D8;
    text-decoration: none;
}

.content__add-last_form{
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    width: 1200px;
    height: 150px;
}

.content__add-schemaform {
    display: flex;
}

.content__add-schemaform * {
    display: block;
}

.content__add-schemaform-button{
    margin-left: 448px;
    margin-bottom: 15px;
}

.content__add-last_form_conteiner{
    display: flex;
    height: 95px;
    
}

.content__add-table{
    border: none;
}

.content__add-td{
    border: none;
}

.content__add-name{
    width: 334px;
    height: 38px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding-left: 8px;
    margin-right:20px;
}

.content__add-type{
    width: 265px;
    height: 38px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding-left: 8px;
    margin-right: 20px;
}

.content__add-specific-block{
    width: 249px;
    height: 38px;
    border: none;
    
}

.content__add-specific{
    width: 249px;
    height: 38px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding-left: 8px;
    margin-right: 55px;
}

.content__add-order{
    width: 152px;
    height: 38px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin-right: 10px;
}

.content__add-link-block{
    border: none;
    padding-top: 35px;
}

.content__add-link{
    text-decoration: none;
    width: 46px;
    height: 21px;
    line-height: 21px;
    color: #D9534F;
    
}

#id_schema_column_separator, #id_schema_string_character{
    width: 540px;
    height: 34px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}

#id_schema_name{
    width: 535px;
    height: 30px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}

.content__add-blocks *{
    display: block;
}

.content__add-form-name{
    width: 334px;
    height: 38px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding-left: 8px;
    margin-right:20px;
    margin-top: 12px;
}

.content__add-form-type{
    width: 285px;
    height: 38px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding-left: 8px;
    margin-right: 15px;
    margin-top: 12px;
}
.content__add-form-order{
    width: 152px;
    height: 38px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin-right: 10px;
    margin-top: 12px;
}

.content__add-specific-form-block{
    width: 250px;
    height: 38px;
    margin-right: 70px;
}


#id_phone_numbers{
    width: 263px;
    height: 38px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding-left: 8px;
    margin-top: 12px;
}

#id_min_range, #id_max_range{
    width: 115px;
    height: 38px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding-left: 8px;
    margin-top: 12px;
}

.content__add-range-block{
    display: flex;
    width: 130px;
    
}

.content__add-form-range{
    margin-right: 12px;
}

.content__add-form-range * {
    display: block;
}

.content__add-form-button{
    width: 121px;
}

.content__dataset-label{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    
    color: #373A3C;
}

.content__dataset-label-block{
    display : flex;  
}

.content__dataset-proccesing, .content__dataset-ready{
    width: 289.51px;
    height: 50px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;

    color: #FFFFFF;
    border-radius: 4px;
    padding: 5px;
    margin-left: 17px;
}

.content__dataset-proccesing{
    background: #999999;
    border-radius: 4px;

    width: 75px;
    height: 22px;
    padding-left: 17px;
}
.content__dataset-ready{
    width: 49px;
    height: 22px;

    background: #5CB85C;
    
}

.content__dataset-label-link{
    text-decoration: none;
    
    width: 89px;
    height: 21px;
    
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */
    color: #0275D8;

    margin-left: 36px;
    margin-top: 25px;
}

.content__dataset-input{
    width: 84px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin: 0px 12px 16px 12px ;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #373A3C;
}

.content__dataset-row-form{
    margin-left: 680px;
    margin-top: 15px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #373A3C;

    display: flex;
}

.content__dataset-button-generator{
    color: #FFFFFF;
    width: 124.28px;
    height: 39px;


    background: #5CB85C;
    border: 1px solid #5CB85C;
    border-radius: 4px;
}

.content__td-action-index{
    width: 289.51px;
    height: 50px;
    
    padding-left: 17px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    display: flex;
}

.content_index-form{
    padding-left: 20px;
    margin-top: 15px;
}